<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 应用程序启动配置 -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <!-- 应用程序设置 -->
  <appSettings>
    <!-- 应用程序名称 -->
    <add key="AppName" value="Hello World Application" />
    <!-- 应用程序版本 -->
    <add key="AppVersion" value="1.0.0" />
    <!-- 开发者信息 -->
    <add key="Developer" value="Rose" />
  </appSettings>

  <!-- 如果将来需要数据库连接，可以在这里配置 -->
  <!--
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=localhost;Initial Catalog=MyDatabase;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  -->
</configuration>